body{

font-family: Arial;

background:#ffffff;

text-align:center;

}

.container{

display:flex;

justify-content:space-between;

margin-top:60px;

padding-left:120px;

padding-right:120px;

}

.lado{

display:flex;

flex-direction:column;

gap:30px;

}

label{

background:#ddd;

padding:12px;

border-radius:6px;

cursor:pointer;

font-weight:bold;

}

label:hover{

background:#bbb;

}

.centro{

width:500px;

}

.textos p{

display:none;

font-size:18px;

}


#t1:checked ~ .container .txt1,
#t2:checked ~ .container .txt2,
#t3:checked ~ .container .txt3,
#t4:checked ~ .container .txt4,
#t5:checked ~ .container .txt5,
#t6:checked ~ .container .txt6{

display:block;

}


#s1:checked ~ .container .txt1,
#s2:checked ~ .container .txt2,
#s3:checked ~ .container .txt3,
#s4:checked ~ .container .txt4,
#s5:checked ~ .container .txt5,
#s6:checked ~ .container .txt6{

display:block;

}

input{

display:none;

}

button{

margin-top:40px;

padding:12px 25px;

font-size:16px;

border:none;

background:#0077cc;

color:white;

border-radius:6px;

cursor:pointer;

}

button:hover{

background:#005fa3;

}